.header{
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: space-between; 
  align-items: center;
  border-bottom: 1px solid rgb(222, 222, 222);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;


}

.header-left{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon-menu{
  height: 24px;
  margin: 0px 24px;
}
.icon-logo{
  height: 20px;
}


.header-middle{

  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-box{
  padding-left: 12px;
  flex: 1;
  height: 36.4px;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color:rgb(204, 204, 204) ;
  font-family:Roboto, Arial;
  font-size: 16px;
  margin-right: -1px;
  z-index: 100;
  border-radius: 2px 0 0 2px;
  width: 0px;
}
.search-box::placeholder{
  font-family:Roboto, Arial;
  font-size: 16px;
}
.search-box:focus{
  border-color:  rgb(10, 10, 200);
}

.icon-search-button{
  height: 40px;
  border-width: 1px;
  border-style: solid;
  border-color:rgb(204, 204, 204) ;
  background-color: rgb(247, 247, 247);
 
}
.icon-search{
  height: 24px;
  width: 50px;
  margin-top: 3px;
}

.icon-mic-button{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  margin-left: 10px;
  background-color: rgb(247, 247, 247);
  position: relative;
}
.icon-mic{
  height: 24px;
  margin-top: 3px;
}



.header-right{
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  margin-right: 25px;
}

.icon-upload{
  height: 24px;
}
.icon-youtube-app{
  height: 24px;
}

.notification{
  height: 24px;
}
.notification-number{
  position: absolute;
  right: -3px;
  top: -1px;
  border-radius: 50%;
  padding: 2px 5px 2px 5px;
  font-family:Roboto, Arial;
  font-size: 10px;
  color: white;
  background-color: rgb(216, 14, 14);
}

.my-channel{
  height: 36px;
  width: 36px;
  border-radius: 18px;
}

.icon-search-button , .mic-div , .upload-div , .youtube-app-div , .notification-div{
  position: relative;
  display: flex;
  justify-content: center;
}

.icon-search-button .tooltip , .mic-div .tooltip , .upload-div .tooltip , .youtube-app-div .tooltip , .notification-div .tooltip{
  position: absolute;
  bottom: -50px;
  font-family:Roboto, Arial;
  font-size: 12px;
  color: white;
  background-color: rgb(85, 85, 85);
  padding: 8px 10px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.icon-search-button:hover .tooltip , .mic-div:hover .tooltip , .upload-div:hover .tooltip , .youtube-app-div:hover .tooltip , .notification-div:hover .tooltip{
  opacity:0.9;
}



