.sidebar{
  position: fixed;
  left:0;
  top: 55px;
  bottom: 0;
  background-color:white;
  width: 72px;
  z-index: 100;
}

.sidebar-icon{
  height: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-icon:hover{
  background-color: rgb(238, 238, 238);
}

.sidebar-icon img{
  height: 26px;
}

.sidebar-icon div{
  font-family:Roboto, Arial;
  font-size: 10px;
  margin-top: 5px;
}

@media (min-width:1199px) {

  body{
    margin-left: 170px;
  }

  .sidebar{
    width: 230px;
  }

  .sidebar-icon{
    flex-direction: row;
    margin-left: 20px;
    height: 45px;
  }

  .sidebar-icon div{
    margin-left: 20px;
    font-size: 13px;
  }

}