.video-grid{
  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr;*/
  gap: 40px 16px;
}

@media (max-width:800px) {
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:1099px) and (min-width:801px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width:1100px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*.video-preview{
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}*/


.thumbnail-row{
  position: relative;
}

.video-time{
  position: absolute;
  bottom: 25px;
  right: 6px;
  padding: 2px;
  border-radius: 2px;
  font-size: 12px;
  background-color: black;
  color: white;
}

.thumbnail{
  width: 100%;
  margin-bottom: 15px;
}



.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}



/*.video-info{
  vertical-align: top;
  display: inline-block;
  width: 250px;
}*/

/*.channel-picture{
  vertical-align: top;
  display: inline-block;
  width: 50px;
}*/

.channel-picture{
  position: relative;
}

.channel-picture:hover .channel-preview{
  opacity: 1;
}

.channel-pic{
  width: 80%;
  border-radius: 50%;
}

.channel-preview{
  height: 70px;
  width: 260px;
  position: absolute;
  bottom: -55px;
  background-color: white;
  box-shadow: 0 0 10px gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0,15s;
  pointer-events: none;
  z-index: 100;
}

.channel-preview img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 10px;
}

.channel-info{
  display: flex;
  flex-direction: column;
}

.channel-name{
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}
.channel-stat{
  font-size: 12px;
  color: rgb(103, 101, 101);
}


.video-info{
  display: flex;
  flex-direction: column;
}

.video-title{
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  display: inline-block;
}      

.video-author{
  margin-top: 10px;
  font-size: 12px;
  color: gray;
  display: inline-block;
}

.video-stats{
  margin-top: 5px;
  font-size: 12px;
  color: gray;
}