body{
  background-color: black;
  color: white;
  font-family: Arial;
}

img{
  width: 120px;
}

.title{
  font-size: 36px;
  color: rgb(218, 218, 20);
}

.game{
  display: inline;
  font-size: 22px;

}

.casual-div{
  display: inline;
  margin-left: 60px;
  
}

.casual{
  display: inline;
  font-size: 22px;
  vertical-align: top;
}

.flip-button{
  vertical-align:top;
  cursor: pointer;
  width: 80px;
  height: 25px;
  font-weight: bold;
  background-color:rgb(15, 15, 200);
  border: none;

}

.choice-button{
  display: block;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 30px;
    
}

.heads-button , .tails-button{
  cursor: pointer;
  width: 80px;
  height: 25px;
  margin-right: 15px;
  font-weight: bold;
  background-color: rgb(30, 180, 230);
  border: solid 1px blue;
}

.result{
  margin-bottom: 25px;
  font-size: 18px;
}

.score{
  margin-bottom: 10px;
  font-size: 20px;
}

.reset-button{
  cursor: pointer;
  width: 100px;
  height: 25px;
  font-weight: bold;
  margin-right: 10px;
  background-color: rgb(255, 25, 0);
  border: solid 1px red;
  
}

.autoPlay-button{
  cursor: pointer;
  width: 100px;
  height: 25px;
  font-weight: bold;
  background-color: rgb(90, 210, 90);
  border: solid 1px green;
}

.stopPlay-button{
  background-color: rgb(255, 25, 0);
  border: solid 1px red;
}
